@model IEnumerable<Finansmart.Models.Desafio>
<h2>Desafios</h2>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Pontuação</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Descricao</td>
                <td>@item.Pontuacao</td>
                <td>@(item.Ativo == 1 ? "Ativo" : "Inativo")</td>
            </tr>
        }
    </tbody>
</table>
